################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/7cdae375-b65d-4648-9398-b79daa3e215b.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/19af40b8-d935-4e1d-b536-ee6fa5a66c8e.vsidx
