################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/0f2b564e-bd82-42bf-aef1-cf436e2cb134.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/2edd3022-9a70-4d3f-9ce5-f9b8ac42c1c2.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/302eea9a-a9fb-4444-983d-41f6ec9ea2d4.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/8d8dad5d-817b-4230-9f82-b4059c6092d7.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/5bb29ca9-dba2-4b53-a276-6393cec7d83f.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/229c03aa-927b-4a9d-9709-276b3bf7bd49.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/75ffc29d-be7d-4017-a019-51c1163e08bf.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/7ecb8c44-c887-4305-a670-2a6d3e16d96f.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/fe085bf8-0426-435e-8a4a-a6f90b45af4f.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/6234fed1-9054-420c-8da3-fc634b4e183f.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/dbeb94ee-0a48-4c7e-891b-cd180a6e921a.vsidx
