################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/0f2b564e-bd82-42bf-aef1-cf436e2cb134.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/2edd3022-9a70-4d3f-9ce5-f9b8ac42c1c2.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/302eea9a-a9fb-4444-983d-41f6ec9ea2d4.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/8d8dad5d-817b-4230-9f82-b4059c6092d7.vsidx
/.vs/STR_INTEGRACION_BPM_API/FileContentIndex/5bb29ca9-dba2-4b53-a276-6393cec7d83f.vsidx
